$font-white: #f2f2f2;
$font-black: #252424;

$backg-white: #f6f6f6;

$green: #cef13b;
$light-blue: #4fc2fb;
$dark-blue: #2799f0;
$gray: #9c9794;
$dark-gray: #382f29;
$dark-gray2: #3a3a3a;
$brown: #1e140d;
